# --- Transcripción de audio ---
openai-whisper
torchaudio

# --- Modelos de lenguaje ---
transformers
sentence-transformers

# --- Vector DB ---
faiss-cpu

# --- Utilidades ---
huggingface_hub
python-dotenv

pandas 
torch 
accelerate 
bitsandbytes
transformers
git+https://github.com/huggingface/transformers@v4.49.0-Gemma-3
torch 
transformers 
huggingface_hub 
pandas 
tqdm 
PyPDF2
google-generativeai

--extra-index-url https://opennmt-models.s3.amazonaws.com/whl/torch/cu126
ctranslate2
faster-whisper





