# --- Transcripción de audio ---
openai-whisper
torchaudio

# --- Modelos de lenguaje ---
transformers
sentence-transformers

# --- Vector DB ---
faiss-cpu

# --- Utilidades ---
huggingface_hub
python-dotenv

pandas 
faster-whisper 
torch 
accelerate 
bitsandbytes
--upgrade transformers
git+https://github.com/huggingface/transformers@v4.49.0-Gemma-3
torch 
transformers 
faster-whisper 
huggingface_hub 
pandas 
tqdm 
PyPDF2
google-generativeai


